@{
    ViewBag.Title = "Gracias por confirmar tu email!";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Hacé click @Html.ActionLink("acá", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) para entrar. 
    </p>
</div>
