@{
    ViewBag.Title = "Forgot Password - Confirmación";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <div class="alert alert-info">
        Por favor revisá tu mail para resetear tu password.
    </div>
</div>
	
