@{
    ViewBag.Title = "Recuperar contraseña - Confirmación";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <div class="alert alert-info">
        Te enviamos un e-mail para recuperar tu contraseña. Por favor, revisá tu casilla de correo.
    </div>
</div>
	
