@{
    ViewBag.Title = "Cambio de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        La contraseña fué cambiada correctamente. Por favor hacé click @Html.ActionLink("acá", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-warning" }) para entrar.
    </p>
</div>
